@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootswatch/dist/lux/bootstrap.min.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.btn-primary {
  background-color: #28a745; /* Yeşil buton rengi */
  border-color: #28a745;
}

.btn-primary:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success {
  background-color: #17a2b8; 
  border-color: #17a2b8;
}

.btn-success:hover {
  background-color: #138496;
  border-color: #117a8b;
}