@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootswatch/dist/lux/bootstrap.min.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}